@import "tailwindcss";

@theme {
    --color-gray: #efefef;
    --color-red: #ff9999;
    --color-yellow: #ffe699;
    --color-green: #99ff99;
    --color-blue: #99ccff;
    --color-purple: #cc99ff;
    --color-deep-gray: #dfdfdf;
    --color-dark-gray: #7f7f7f;
    --color-dark-red: #ff3333;
    --color-dark-yellow: #ffcc33;
    --color-dark-green: #33ff33;
    --color-dark-blue: #3399ff;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.5;
}

* {
}

a,
button {
    cursor: pointer;
    transition-property: opacity;
    transition-timing-function: ease, bezier(0.4, 0.1, 0.2, 1);
    transition-duration: 0.15s;
}

button:hover {
    opacity: 0.8;
}

input {
    outline: none;
}

select {
    outline: none;
}
