@import "tailwindcss";

@theme {
    --color-gray: #efefef;
    --color-red: #ff9999;
    --color-yellow: #ffdf7f;
    --color-green: #bff77f;
    --color-blue: #99ccff;
    --color-dark-gray: #7f7f7f;
    --color-dark-red: #ff3333;
    --color-dark-blue: #3399ff;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.5;
}

* {
}

button {
    cursor: pointer;
}
