@import "tailwindcss";

@theme {
    --color-blue: #bfdfff;
    --color-yellow: #ffefbf;
    --color-red: #ffbfbf;
    --color-gray: #efefef;
    --color-deepGray: #dfdfdf;
}

body {
}

* {
    font-family: "Noto Sans KR", sans-serif;
}
